<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Azure Security Assessments</h4>
                <p class="card-category" *ngIf="azureFound < 0">Loading...</p>
                <p class="card-category" *ngIf="azureFound == 0">None found</p>
                <p class="card-category" *ngIf="azureFound > 0">Found {{azureFound}} items</p>
            </div>
            <div class="card-body table-full-width table-responsive">

                <table *ngIf="azureFound > 0" class="table table-striped">
                    <thead>
                        <tr>
                            <td>Time</td>
                            <td>Subscription</td>
                            <td>Title</td>
                            <td>Description</td>
                            <td>State</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of azureRecords;index as i;">
                            <td>{{row.Time | date:'H:mm dd-MM'}}</td>
                            <td class="long">{{row.SubscriptionId}}</td>
                            <td>{{row.Title}}</td>
                            <td class="long" title="{{row.Description}}">{{row.ShortDesc}}</td>
                            <td>{{row.RecordState}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">AWS Security Findings</h4>
                <p class="card-category" *ngIf="awsFound < 0">Loading...</p>
                <p class="card-category" *ngIf="awsFound == 0">None found</p>
                <p class="card-category" *ngIf="awsFound > 0">Found {{awsFound}} items</p>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table *ngIf="awsFound > 0" class="table table-striped">
                    <thead>
                        <tr>
                            <td>Time</td>
                            <td>Account</td>
                            <td>Title</td>
                            <td>Description</td>
                            <td>State</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of awsRecords;index as i;">
                            <td>{{row.Time | date:'H:mm dd-MM'}}</td>
                            <td class="long">{{row.AwsAccountId}}</td>
                            <td>{{row.Title}}</td>
                            <td class="medium" title="{{row.Description}}">{{row.ShortDesc}}</td>
                            <td>{{row.RecordState}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
