td.long{
    word-wrap: break-word; 
    word-break: break-all;
}

td.medium{
    word-wrap: break-word;
}

button.hideLayout{
    color:black !important;
    padding: 0px !important;
    border: none !important;
}